# ┌────────────────────────────────┐
#   SYSTEM AND IDE
# └────────────────────────────────┘

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# ┌────────────────────────────────┐
#   KIRBY AND VITE
# └────────────────────────────────┘

# Kirby files and License
kirby
vendor
node_modules
/site/config/.license
.lock
.dev
dist

# Frontend
/public/assets/

# Temporary files, Accounts,
# Cache and Sessions
/public/media/*
/site/plugins/*
#!/site/plugin/custom
/storage/accounts/*
/storage/cache/*
/storage/sessions/*

!.gitkeep
