{
  "trailingComma": "all",
  "tabWidth": 2,
  "proseWrap": "preserve",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["@prettier/plugin-php"]
}
