html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);

  background-color: var(--clr-bg);
  color: var(--clr-text);
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: var(--content-spacing) 0;
}

.container {
  width: 100%;
  max-inline-size: 62.5rem;
  margin: 0 auto;
  padding: 0 var(--spacing);
}
